@import "syntax.css";
@import "repository.css";

blockquote, p, ul, .post-content:not(.js-file-line-container) {
	text-align: justify;
	hyphens: auto;
}

pre {
	background-color: var(--background-secondary);
	overflow: auto;
	border-radius: 0;
}

.line {
	white-space: pre;
}

code, kbd {
	font-family: 'IBM Plex Mono', monospace;
	font-size: 0.9em;
	font-weight: inherit;
	hyphens: none;
}

.pagination__buttons {
	justify-content: space-between;
}

.pagination__buttons > *:only-child {
	margin: 0 auto;
}

.pagination__buttons code {
	padding: 0;
	background: none;
}

table:not(.js-file-line-container) {
	table-layout: auto;
}

.header {
	position: sticky;
	top: 0;
	z-index: 999;
}

h2 {
	margin-top: 2rem;
}

.menu a:hover {
	text-decoration: underline;
}

.logo__cursor {
	margin-left: 6px;
	width: 8px;
}
