@import "syntax.css";

blockquote, p, ul, .post-content {
	text-align: justify;
	hyphens: auto;
}

pre {
	background-color: var(--background-secondary);
}

code, kbd {
	font-family: 'IBM Plex Mono', monospace;
	font-size: 0.9em;
	font-weight: inherit;
}

.pagination__buttons code {
	padding: 0;
	background: none;
}

table:not(.js-file-line-container) {
	table-layout: auto;
}

.header {
	position: sticky;
	top: 0;
	z-index: 999;
}
